In [3]:
import pandas as pd
import seaborn as sns

In [13]:
df=pd.read_csv('pima-indians-diabetes.csv')
df.head(5)
df.shape

(768, 9)

In [6]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [7]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
x=df.drop('Outcome',axis=1)
y=df[['Outcome']]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=42,test_size=0.25)

In [12]:
xtrain

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
357,13,129,0,30,0,39.9,0.569,44
73,4,129,86,20,270,35.1,0.231,23
352,3,61,82,28,0,34.4,0.243,46
497,2,81,72,15,76,30.1,0.547,25
145,0,102,75,23,0,0.0,0.572,21
...,...,...,...,...,...,...,...,...
71,5,139,64,35,140,28.6,0.411,26
106,1,96,122,0,0,22.4,0.207,27
270,10,101,86,37,0,45.6,1.136,38
435,0,141,0,0,0,42.4,0.205,29
102,0,125,96,0,0,22.5,0.262,21

In [14]:
xtest

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
668,6,98,58,33,190,34.0,0.430,43
324,2,112,75,32,0,35.7,0.148,21
624,2,108,64,0,0,30.8,0.158,21
690,8,107,80,0,0,24.6,0.856,34
473,7,136,90,0,0,29.9,0.210,50
...,...,...,...,...,...,...,...,...
554,1,84,64,23,115,36.9,0.471,28
319,6,194,78,0,0,23.5,0.129,59
594,6,123,72,45,230,33.6,0.733,34
6,3,78,50,32,88,31.0,0.248,26
615,3,106,72,0,0,25.8,0.207,27

In [15]:
from sklearn.tree import DecisionTreeClassifier
te=DecisionTreeClassifier()

In [19]:
te.fit(xtrain,ytrain)
ypred=te.predict(xtest);

In [17]:
from sklearn.metrics import confusion_matrix,classification_report,r2_score,mean_squared_error

In [20]:
confusion_matrix(ytest,ypred)

array([[87, 36],
       [25, 44]], dtype=int64)

In [22]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.78      0.71      0.74       123
           1       0.55      0.64      0.59        69

    accuracy                           0.68       192
   macro avg       0.66      0.67      0.67       192
weighted avg       0.70      0.68      0.69       192